$board-border: 8px solid #ecf0f1
$subboard-border: 4px solid #ecf0f1

.board
  color: #8e44ad

.board, .subboard
  width: 100%
  height: 100%

.subboard table
  width: 90%
  height: 90%
  margin: 5%

.b0, .b1, .b3, .b4
  border-right: $board-border
  border-bottom: $board-border

.sb0, .sb1, .sb3, .sb4
  border-right: $subboard-border
  border-bottom: $subboard-border

.b2, .b5
  border-bottom: $board-border

.sb2, .sb5
  border-bottom: $subboard-border

.b6, .b7
  border-right: $board-border

.sb6, .sb7
  border-right: $subboard-border

.X
  background: url(/images/X.svg)

.O
  background: url(/images/O.svg)

.X, .O
  background-size: 90%
  background-repeat: no-repeat
  background-position: center
