<div class="page">
  <div ng-if="user">
    <div class="btns btn-group-vertical" role="newgame" aria-label="New Game">
      <a ng-repeat="friend in friends" ng-href="#/game/new/{{friend.userID}}" type="button" class="btn btn-theme btn-block"><h4>{{friend.name}}</h4></a>
    </div>
    <div class="btns btn-group-vertical" role="invite" aria-label="Invite Friends">
      <button ng-click="inviteFriends()" type="button" class="btn btn-theme btn-block"><h4>Invite Friends</h4></button>
    </div>
  </div>
  <div ng-if="!user" class="btns btn-group-vertical" role="login" aria-label="Login">
    <button ng-click="login()" type="button" class="btn btn-theme btn-block"><h4>Login to Facebook</h4></button>
  </div>
</div>
