<table class="{{board.t}}">
  <tr>
    <td class="sb0 {{board[0].t}}" ng-click="move({j:0});">&nbsp;</td>
    <td class="sb1 {{board[1].t}}" ng-click="move({j:1});">&nbsp;</td>
    <td class="sb2 {{board[2].t}}" ng-click="move({j:2});">&nbsp;</td>
  </tr>
  <tr>
    <td class="sb3 {{board[3].t}}" ng-click="move({j:3});">&nbsp;</td>
    <td class="sb4 {{board[4].t}}" ng-click="move({j:4});">&nbsp;</td>
    <td class="sb5 {{board[5].t}}" ng-click="move({j:5});">&nbsp;</td>
  </tr>
  <tr>
    <td class="sb6 {{board[6].t}}" ng-click="move({j:6});">&nbsp;</td>
    <td class="sb7 {{board[7].t}}" ng-click="move({j:7});">&nbsp;</td>
    <td class="sb8 {{board[8].t}}" ng-click="move({j:8});">&nbsp;</td>
  </tr>
</table>
